<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImasaraAlert.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <ImasaraAlert.Properties.Settings>
            <setting name="IsDefaultBrowser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BrowserPath" serializeAs="String">
                <value />
            </setting>
            <setting name="IsMinimization" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PopupPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PopupTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PopupFront" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppA_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="AppB_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="AppC_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="AppD_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Sound_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="IsDefaultSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sound_File" serializeAs="String">
                <value>Sound\se_soc01.wav</value>
            </setting>
        </ImasaraAlert.Properties.Settings>
    </userSettings>
</configuration>
